# Kindle Sales Analysis

## Step 1: Import Libraries

In [1]:
import pandas as pd
import psycopg2

## Step 2: Assinging Credentials

In [2]:
host = 'capstoneworkgroup.637423452511.us-east-2.redshift-serverless.amazonaws.com'
port = '5439'
database = 'dev'
user = 'admin'
password = 'redacted'

## Step 3: Establish Connection to Redshift

In [3]:
conn = psycopg2.connect(dbname = database,user = user,password = password,host = host,port = port
)

## Step 4: Define SQL Query

In [4]:
sql_query = """

SELECT
    *
FROM
    "dev"."capstoneschema"."kindlefolder";
"""

In [5]:
df= pd.read_sql_query(sql_query,conn)

/var/folders/qq/6j6g0yz144sd_nphs7xty6tw0000gn/T/ipykernel_39614/1531987549.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql_query(sql_query,conn)

In [6]:
conn.close()

## Step 5: EDA

In [3]:
df.head()

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
0,B00TZE87S4,Adult Children of Emotionally Immature Parents...,Lindsay C. Gibson,Amazon.com Services LLC,https://m.media-amazon.com/images/I/713KZTsaYp...,https://www.amazon.com/dp/B00TZE87S4,4.8,0,9.99,False,6,True,False,False,2015-06-01,Parenting & Relationships
1,B08WCKY8MB,"From Strength to Strength: Finding Success, Ha...",Arthur C. Brooks,Penguin Group (USA) LLC,https://m.media-amazon.com/images/I/A1LZcJFs9E...,https://www.amazon.com/dp/B08WCKY8MB,4.4,0,16.99,False,6,False,False,False,2022-02-15,Parenting & Relationships
2,B09KPS84CJ,Good Inside: A Guide to Becoming the Parent Yo...,Becky Kennedy,HarperCollins Publishers,https://m.media-amazon.com/images/I/71RIWM0sv6...,https://www.amazon.com/dp/B09KPS84CJ,4.8,0,16.99,False,6,False,True,False,2022-09-13,Parenting & Relationships
3,B07S7QPG6J,Everything I Know About Love: A Memoir,Dolly Alderton,HarperCollins Publishers,https://m.media-amazon.com/images/I/71QdQpTiKZ...,https://www.amazon.com/dp/B07S7QPG6J,4.2,0,9.95,True,6,False,True,False,2020-02-25,Parenting & Relationships
4,B00N6PEQV0,The Seven Principles for Making Marriage Work:...,John Gottman,Random House LLC,https://m.media-amazon.com/images/I/813o4WOs+w...,https://www.amazon.com/dp/B00N6PEQV0,4.7,0,13.99,False,6,False,False,False,2015-05-05,Parenting & Relationships

In [4]:
df.describe()

               stars        reviews          price    category_id
count  133102.000000  133102.000000  133102.000000  133102.000000
mean        4.404090     887.375779      15.134127      16.287111
std         0.745646    5104.878777      22.254986       8.416924
min         0.000000       0.000000       0.000000       1.000000
25%         4.400000       0.000000       4.990000       9.000000
50%         4.500000       4.000000       9.990000      16.000000
75%         4.700000     365.000000      14.990000      23.000000
max         5.000000  618227.000000     682.000000      31.000000

In [5]:
df = df.dropna()

In [6]:
df.describe()

              stars        reviews         price   category_id
count  77800.000000   77800.000000  77800.000000  77800.000000
mean       4.371353     648.976530     19.363574     15.155797
std        0.827681    5087.894642     26.330844      8.506588
min        0.000000       0.000000      0.000000      1.000000
25%        4.400000       0.000000      8.990000      9.000000
50%        4.500000       0.000000     11.990000     14.000000
75%        4.700000     192.000000     17.990000     22.000000
max        5.000000  618227.000000    682.000000     31.000000

## Step 6: Results of Analysis

In [7]:
group = df.groupby('author') # Authors that have published the most

In [8]:
group.count().sort_values(ascending=False, by ='publishedDate').head(10)

,asin,title,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
author,,,,,,,,,,,,,,,
DK Eyewitness,154,154,154,154,154,154,154,154,154,154,154,154,154,154,154
Fodor's Travel Guides,111,111,111,111,111,111,111,111,111,111,111,111,111,111,111
DK,96,96,96,96,96,96,96,96,96,96,96,96,96,96,96
America's Test Kitchen,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73
Amazon.com Services LLC,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68
Rough Guides,67,67,67,67,67,67,67,67,67,67,67,67,67,67,67
Stephen King,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56
Nora Roberts,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49
Rick Steves,43,43,43,43,43,43,43,43,43,43,43,43,43,43,43
Max Lucado,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38

In [9]:
final_df = df.sort_values(by=['price'], ascending=False) # most expensive books

In [11]:
final_df.head(10)

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
123336,B0CFWJB1PX,Drugs in Litigation: Damage Awards Involving P...,LexisNexis Editorial Staff,Amazon.com Services LLC,https://m.media-amazon.com/images/I/419+UKcVsz...,https://www.amazon.com/dp/B0CFWJB1PX,0.0,0,682.00,False,20,False,False,False,2023-07-14,Law
125981,B006NYK31S,Broker-Dealer Regulation,Clifford E. Kirsch,Amazon.com Services LLC,https://m.media-amazon.com/images/I/717G-NmJz5...,https://www.amazon.com/dp/B006NYK31S,0.0,0,662.00,False,20,False,False,False,2023-07-01,Law
123725,B017HM6F1Q,How to Write a Patent Application,Jeffrey G. Sheldon,Amazon.com Services LLC,https://m.media-amazon.com/images/I/71CQ6HRR39...,https://www.amazon.com/dp/B017HM6F1Q,3.5,0,629.00,False,20,False,False,False,2022-12-01,Law
113257,B0C15XY3C1,The Collected Works of C. G. Jung: Revised and...,C. G. Jung,Amazon.com Services LLC,https://m.media-amazon.com/images/I/61Ao84Fx3i...,https://www.amazon.com/dp/B0C15XY3C1,0.0,0,549.99,False,27,False,False,False,2023-05-02,"Health, Fitness & Dieting"
117647,B08B2N4WBH,"The Art of Aesthetic Surgery, Three Volume Set...",Foad Nahai,Amazon.com Services LLC,https://m.media-amazon.com/images/I/41Axmq-ePd...,https://www.amazon.com/dp/B08B2N4WBH,4.0,0,543.99,False,13,False,False,False,2020-05-09,Medical
117177,B07D7KLC8K,"Perforator Flaps: Anatomy, Technique, & Clinic...",Phillip N. Blondeel,Amazon.com Services LLC,https://m.media-amazon.com/images/I/413Ab5PR6E...,https://www.amazon.com/dp/B07D7KLC8K,4.5,0,481.49,False,13,False,False,False,2013-07-01,Medical
124945,B08R87JNC3,International Commercial Arbitration: Three Vo...,Gary B. Born,Amazon.com Services LLC,https://m.media-amazon.com/images/I/71op2SPCFY...,https://www.amazon.com/dp/B08R87JNC3,3.2,0,480.00,False,20,False,False,False,2020-11-23,Law
124152,B00C318T6G,LexisNexis Practice Guide: Florida Personal In...,Ervin A. Gonzalez,Amazon.com Services LLC,https://m.media-amazon.com/images/I/514BAZd0M1...,https://www.amazon.com/dp/B00C318T6G,4.0,0,465.99,False,20,False,False,False,2023-08-04,Law
125127,B01N7QV17T,Private Equity Funds: Formation and Operations,Stephanie R. Breslow,Amazon.com Services LLC,https://m.media-amazon.com/images/I/71iYXx6p0k...,https://www.amazon.com/dp/B01N7QV17T,5.0,0,462.00,False,20,False,False,False,2023-02-01,Law
123467,B0BMM7BYZN,LexisNexis AnswerGuide New York Negligence 202...,Rhonda E. Kay,Amazon.com Services LLC,https://m.media-amazon.com/images/I/51Pd9JzP0t...,https://www.amazon.com/dp/B0BMM7BYZN,0.0,0,443.00,False,20,False,False,False,2022-11-15,Law

In [16]:
group2 = df.groupby('category_name') # Top Genres published

In [17]:
group2.count().sort_values(ascending=False, by ='category_id').head(10)

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate
category_name,,,,,,,,,,,,,,,
Science & Math,5047,5047,5047,5047,5047,5047,5047,5047,5047,5047,5047,5047,5047,5047,5047
Engineering & Transportation,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860
Biographies & Memoirs,4796,4796,4796,4796,4796,4796,4796,4796,4796,4796,4796,4796,4796,4796,4796
Parenting & Relationships,4441,4441,4441,4441,4441,4441,4441,4441,4441,4441,4441,4441,4441,4441,4441
"Cookbooks, Food & Wine",4438,4438,4438,4438,4438,4438,4438,4438,4438,4438,4438,4438,4438,4438,4438
Computers & Technology,4412,4412,4412,4412,4412,4412,4412,4412,4412,4412,4412,4412,4412,4412,4412
"Crafts, Hobbies & Home",4278,4278,4278,4278,4278,4278,4278,4278,4278,4278,4278,4278,4278,4278,4278
Travel,4028,4028,4028,4028,4028,4028,4028,4028,4028,4028,4028,4028,4028,4028,4028
Law,3991,3991,3991,3991,3991,3991,3991,3991,3991,3991,3991,3991,3991,3991,3991
Education & Teaching,3877,3877,3877,3877,3877,3877,3877,3877,3877,3877,3877,3877,3877,3877,3877